/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  margin: 0px;
  color: green;
  background: lightgrey;
}

h1{
  font-family: 'Contrail One', cursive;
  color: rgb(212,57,43);
}

h2{
  color: orange;
}

p{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 30px;
  line-height: 20px;
}


#my-header{
  text-align: center;
  background-image: url("http://lorempixel.com/1300/600/nature/");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.feature{
  padding: 50px;
  font-weight: 300px;
}

.feature img{
  padding: 20px;
  border: 2px solid black;
  border-radius: 50%;
}

#my-footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  margin-top: 20px;
}

#my-footer a {
  color: lightgrey;
}
#my-footer a:hover {
  color: white;
}
