/*Thanks to lingulo.com for the help*/

body {
  border-top: 5px solid #e56038;
  background: #ebe8de;
  font-family: 'Open Sans',sans-serif;
  color: #333333;
}

/*Search form*/

input {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  padding: 7px;
  outline: 0;
  border:0;
  width:250px;
  background: #EBE8DE;
  border-radius:5px;
}

input[type=submit]{
  width:auto;
  padding: 5px 18px;
  line-height:25px;
  text-shadow:none;
  cursor:pointer;
  box-shadow: none;
  background: #333333;
  color: #fff;
}

p {
  margin: 5px 0;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .5s ease;
}

strong {
  font-weight: bold;
}

figcaption {
  line-height: 25px;
  font-size:14px;
  width:200px;
}

figcaption strong {
  border-bottom: 1px solid #D6D0C1;
  padding-bottom:10px;
  margin: 10px 0;
  display:block;
}

/*Top header and navbar*/

header {
  position:relative;
  width:auto;
  max-width:900px;
  margin: 0 auto 20px auto;
}

header h1 {
  margin: 35px 0 0 0;
  font-size: 55px;
  color: #e56038;
  font-family: 'Molengo', cursive;
}

header p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4A463B;
  margin-left:132px;
}

nav {
  position:absolute;
  right:0;
  bottom:0;
}

nav ul {
  list-style:none;
}

nav ul li {
  display:block;
  float:left;
  padding:3px 11px;
}

nav ul li a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  transition: all .25s ease;
}

nav ul li a:hover {
  color: #E56038;
}

/*Image block*/

.image-centered {
  background-image: asset-data-url("block_image.jpg");
  background-size: cover;
  height: 400px;
}

.text-over-imgblock {
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  width:400px;
  position:absolute;
  top:25%;
  left:15%;
  z-index:11;
}

.container {
  width:auto;
  margin: 0 auto;
  position:relative;
}

.text-over-imgblock h3 {
  color:#EBE8DE;
  font-size:25px;
  font-weight:bold;
  margin-bottom:10px;
  background-color:#333333;
  padding:10px 15px;
  border-radius: 3px;
  display:inline-block;
}

.text-over-imgblock p {
  font-style: bold;
  margin:0 0 30px 0;
  color:#4a463b;
  background-color:#EBE8DE;
  padding:10px 15px;
  border-radius: 5px;
}

/*Search*/

#spacer {
  width:auto;
  height:70px;
  background-color:#e56038;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  color:#fff;
  font-size:18px;
}

#spacer p {
  margin-top:22px;
  text-align: center;
  width:auto;
  position:absolute;
  left:50%;
  margin-left:-450px;
}

#spacer .search {
  margin-top:15px;
  width:auto;
  position:absolute;
  right:50%;
  margin-right:-480px;
}

/*Three boxes*/

#boxcontent {
  width:auto;
  max-width:900px;
  margin:0 auto;
  padding:70px 0 45px 0;
}

#boxcontent article {
  float:left;
  width:250px;
  margin-right:45px;
  font-size:14px;
}

#boxcontent article h3 {
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
  margin-bottom:10px;
  margin-left:75px;
}

#boxcontent article img {
  margin-right:7px;
  float:left;
}

#boxcontent article p {
  line-height:25px;
  font-family: 'Open Sans', sans-serif;
  margin-left:75px;
}

/*Four boxes*/

#four_columns, #text_columns {
  line-height:25px;
  font-family: 'Open Sans', sans-serif;
  width:auto;
  max-width:900px;
  margin:0 auto;
}

#four_columns h2, #text_columns h3 {
  font-size:20px;
  border-bottom: 1px solid #D6D0C1;
  padding: 20px 0;
  margin-bottom: 20px;
}

#four_columns .img-item{ 
  float:left;
  margin-right:25px;
}

#four_columns .img-item a {
  position:relative;
  display:block;
}

#text_columns article.column1, #text_columns .column2 {
  margin: 70px 0;
  font-size:14px;
  float:left;
  width:450px;
}

#text_columns .column2 {
  margin: 120px 0;
}

.row {
  position:relative;
  margin: 40px 0 0 50px;
  float:right;
  width:350px;
}

footer {
  position:relative;
  clear:both;
  width:auto;
  background:#333333;
}

footer .wrapper {
  line-height:25px;
  margin: 0 auto;
  padding-top:30px;
  width:auto;
  max-width:900px;
  font-size:14px;
}

footer .wrapper .column {
  font-family: 'Open Sans', sans-serif;
  color:#ababab;
  float:left;
  width:280px;
  margin-right:20px;
}

footer .wrapper .column.midlist ul li {
  width:auto;
  padding:0 0 10px 25px;
  margin-bottom:10px;
  border-bottom: 1px solid #444444;
  background:url(img/arrowright2.png) left 6px no-repeat;
}

footer .wrapper .column.midlist ul li a:hover {
  color:#fff;
}

footer .wrapper .column.rightlist ul li {
  width:auto;
  margin-bottom:15px;
}

footer .wrapper .column.rightlist ul li a span {
  margin-left:95px;
  display:block;
}

footer .wrapper .column.rightlist ul li a img {
  transition: border .25s ease;
  float:left;
  border:3px solid #444444;
}

footer .wrapper .column.rightlist ul li a img:hover {
  border-color: #5e5e5e;
}

footer .wrapper .column h4 {
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid #444444;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
}

#copyright {
  background: #1D1D1D;
  height:70px;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
}

#copyright .wrapper {
  font-family: 'Open Sans', sans-serif;
  padding-top:25px;
  color: #5e5e5e;
  font-size:14px;
  position:relative;
}

#copyright .wrapper .social {
  position:absolute;
  right:0;
  top:25px;
}

#copyright .wrapper .social a {
  transition: opacity .25s ease;
  opacity: 0.3;
  margin-left: 12px;
  display:block;
  float:left;
}

#copyright .wrapper .social a:hover{
  opacity: 0.7;
}

#copyright .wrapper a {
  color: #ABABAB;
}

#copyright .wrapper a:hover {
  color: #fff;
}

.clear {
  clear:both;
}

.hidden {
  position:absolute;
  clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@media(max-width:915px) {
    #boxcontent article {
        height: 70px;
        float: none;
        width: 60%;
        margin: 30px auto 0 auto;
    }

    #spacer {
        font-size: 15px;
    }

    #spacer .search {
        margin-top: 19px;
        margin-right: -385px;
    }

    #spacer p {
        margin-left: -370px;
    }

    input {
        padding: 4px;
        font-size: 14px;
    }

    input[type="submit"] {
        padding: 1px 14px;
    }

    #four_columns {
        width: 500px;
    }

    #four_columns .img-item:nth-of-type(3) ,
    #four_columns .img-item:nth-of-type(4) {
        margin-top: 25px;
    }

    #text_columns article.column1,
    #text_columns .column2 {
        float: none;
        margin: 50px auto 0 auto;
        max-width: 500px;
    }

    .column2 .row {
        float: none;
        margin: 0 0 40px 50px;
    }

    footer .wrapper .column {
        width: 230px;
        font-size: 12px;

    }

    .container {
      display:none
    }
}

@media(max-width:765px) {
    .container {
        top: -1500px;
    }

    header {
        height: 120px;
    }

    header nav {
        top: 100px;
        right: auto;
        bottom: auto;
        left: 50%;
        margin-left: -184px;
    }

    #spacer {
        height: 100px;
    }

    #spacer p {
        position: static;
        margin: 0 auto;
        padding: 15px 0 7px 0;
        text-align: center;
    }

    #spacer .search {
        position: static;
        margin: 0 auto;
        text-align: center;
    }

    footer {
        height: auto;
        padding-bottom: 70px;
    }

    footer .wrapper {
        width: 350px;
        margin: 0 auto;
    }

    footer .wrapper .column {
        float: none;
        width: auto;
        margin-top: 30px;
        font-size: 14px;
    }

    footer .wrapper .social {
        display: none;
    }
}
